.popup__close {
    width: 32px;
    height: 32px;
    background: transparent url(../../../images/Close_Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .5s;
    object-fit: contain;
    object-position: center;
    border: 1px red;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 960px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        object-fit: cover;
        object-position: center;
        background: url(../../../images/Close_Icon_mob.svg);
    }
}