.header {
    max-width: 880px;
    min-height: 74px;
    margin: 0 200px 36.25px;
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 960px) {
    .header {
        margin: auto;
        min-height: 56px;
        box-sizing: border-box;
        align-items: center;
    }
}