.profile__name-container {
    display: flex;
    flex-direction: row;
    grid-area: name;
    flex-wrap: nowrap;
    align-items: flex-end;
}

@media screen and (max-width: 960px) {
    .profile__name-container {
        justify-content: center;
        margin: 0 0 14px 0;
    }
}