.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 18px 0 0;
    grid-area: name;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 960px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
        margin: 0 10px 0 0;
        max-width: 189px;
    }
}