.popup__input {
    width: 100%;
    font-size: 14px;
    line-height: 16.94px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-family: inherit;
    padding: 0 0 13px 0;
    
}

@media screen and (max-width: 960px) {
    .popup__input {
        font-size: 14px;
        line-height: 17px;
    }
}