.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 960px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
        justify-self: center;
        margin-bottom: 36px;
        max-width: 282px;
    }
}