.footer__logo {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 960px) {
    .footer__logo {
        padding: 0 19px;
        font-size: 14px;
        line-height: 17px;
    }
}