.page-incoming {
    max-width: 880px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


/* @media screen and (max-width: 960px) {
    .page-incoming {
        max-width: 260px;
    }
} */